$color:#29bde0;
$color1:#fff;
$size:40px;
$font:1rem;
body{
  min-width:($size * 8) ;
  max-width:($size * 19);
  margin: 0 auto;
  height: 100%;
}
html{
       height: 100%;
}


.whole{
  height: 100%;
  background-color: $color;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  min-width:($size * 8) ;
  max-width:($size * 19);
  height: $size;
  background-color: $color;
  img{
    margin-right: ($size/2) ;
  }
  .header-left{
    margin-left:  ($size/2);
    padding: ($size/20);
    border:($size/30)  solid $color1;
  }
  .header-font{
    font-size: $font;
    color:$color1;
  }
}
main {
  background-color: $color;
  .speak {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    height: $size;
    margin-top: $size;
    padding: 0 ($size/2) 0 ($size/2);
    font-size: ($font*0.8);
    background-color: #b9e9f5;
    audio {
      opacity: 0;
      position: absolute;
      right: -245px;
    }
  }
  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #b9e9f5;
    margin-left: ($size/2);
  }
  .click {
    padding-left:($size/2) ;
    color: $color1;
    font-size: ($font*0.8);
  }
}
.father-box {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  width: 100%;
  .option {
    width: 25%;
    flex-shrink: 0;
   margin: ($size/2) ($size/4) ($size/1) ($size/4);
    .option-player {
    border: ($size/10) solid $color1;
      .option-player-left {
        text-align: center;
       padding: 25% 0;
        font-size: ($font*1);
        background-color: #f5c97b;
      }
      .option-player-right {
        text-align: center;
        padding: 8% 0;
        font-size: ($font*0.8);
        background-color: #83b09a;
        color: $color1;
      }
    }
  }
}
.option-player:hover ~ .banner{
  opacity:1;
}
.footer-box{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  min-width:($size * 8) ;
  max-width:($size * 19);
  bottom: 0;
  width: 100%;
  z-index: 9;
  height: ($size*1.5);
background-color: $color;
.vote{
  display: flex;
  align-items: center;
  justify-content:center;
  width: 80%;
  height: ($size*1);
  background-color: #fbb435;
  a{
    text-decoration: none;
    color:$color1;
    font-size:$font;
  }
}
}
.footer-d{
 height: ($size*1.5);
  background-color: $color;
}
.banner{
  background:url(../img/task7.png) no-repeat;
  background-position: center;
  height: 25%;
  background-size:100%;
  opacity:0;
}
.icon1 {height:30px;width:30px;background-position: -35px 0;}
.icon2{height:30px;width:30px;background-position: 0 0;}
.icon3 {height:30px;width:30px;background-position: -71px 0;}
.icon4 {height:30px;width:30px;background-position: -108px 0;}