$color1:#fff;
$color: #29b078;
$color2: black;
$size:40px;
$font:1rem;
body{
  margin: 0;
  padding: 0;
}
.enterprise-page  img{
  width: 100%;
}
.occupation {
  margin: ($size/4) 0;
  font-size: $font;
  cursor: pointer;
  p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  span {
    color: #29b078;
  }
}
.ordered-list-box{
  border: 1px solid #e6e6e6;
  margin-right: 20px;
  margin-bottom: 20px;
  p{
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    font-weight: bold;
    color: black;
    padding-bottom: 20px;
 }
  .software{
    display: flex;
    justify-content: center;
    font-size: ($font*0.8);
  }
}
.ordered-list{
  list-style: none;
  padding: 0;
  .video{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ff640c;
    margin-top: 20px;
  }
}
.software ul li:hover .video{
  background-color: #ff640c;
}
.software ul li:hover .font{
  color:#ff640c;
}
.to-potato-net p{
  padding: 20px 50px 0 10px;
}
.todou-history p{
  padding: 10px 40px;
}
.todou-box{
  border: 1px solid #e6e6e6;
  margin-bottom: 40px;
  margin-right: 20px;
  font-size: ($font*0.8);
}
.to-potato-net{
  min-height: 90px;
  border-bottom: 1px solid silver;
}
.to-potato-net img{
float: left;
  margin: 0 20px 0 60px;
}