body {
    background:#68cdd5;
}
.q{
    margin: 3vw 3vw;
}
.q img{
   width: 10vw;
}
.w{
   text-align: center;
}
.w img{
    width: 30vw;
}
.e{
    color:white;
    margin: 20vw 20vw;
    font-size:30px;
}
.i{
    float: right;
    margin-right:20vw;
}
.j{
  float: right;
    margin-right:21vw;
    color:white;
}
.b{
    margin-left:21vw;
    color:white;
}
.t{
    margin-left:20vw;
}
body {
    background:#68cdd5;
}
.q{
    margin: 3vw 3vw;
}
.q img{
   width: 10vw;
}
.w{
   text-align: center;
}
.w img{
    width: 30vw;
}
.e{
    color:white;
    margin: 20vw 20vw;
    font-size:30px;
}
.i{
    float: right;
    margin-right:20vw;
}
.j{
  float: right;
    margin-right:21vw;
    color:white;
}
.b{
    margin-left:21vw;
    color:white;
}
.t{
    margin-left:20vw;
>>>>>>> origin/master
}