body{
    margin: 0;
    padding: 0;
    background-color:#29bde0;
}
.header{
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background-color:#29bde0;
}
.header span{
    border: 2px solid white;
    padding: 8px;
    margin-left: 80px;
}
.header  span div{
width: 1.9rem;
height: 0.2rem;
border-top: 0.2rem solid #ffffff;
border-bottom:0.2rem solid #ffffff;
background-color: #ffffff;
padding: 0.5rem 0;
background-clip:content-box;
}
.event{
margin-right: 56px;
    width: 20px;
    height:5px;
    background: white;
    transform: rotate(45deg);
}
.event:after{
    content:'';
    display:block;
    width: 20px;
    height:5px;
    background: white;
    transform: rotate(-90deg);
}
.font{
    font-size: 20px;
   height: 80px;
    background-color: #b9e9f5;
display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    margin-top: 100px;
}
.font span{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left:  20px solid #ffffff;
    margin-left: 8px;
}
.box{
    height: 50px;
    width: 50px;
    background-color: #fbb435;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:25px;
}
.footer{
    line-height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    background-color: #29bde0;
}
.box1{
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    background-color: #fbb435;
    margin: 40px 80px 40px 80px;
}
.box1 a{
    text-decoration: none;
    color: white;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top:  15px solid  #b9e9f5;
    margin-left: 80px;
}
.content{
color: white;
    font-size: 20px;
    margin-left: 80px;
}
.shop{
    border: 5px solid white;
   width: 25vw;
    height: 25vw;
    background-color: #f5c97b;
}
.shop p{
    width: 25vw;
   line-height: 17vw;
    text-align: center;
    margin: 0;
}
.shop:hover ~ .banner{
    opacity:1;
}
.msg{
    width:25vw;
   line-height: 8vw;
    background-color: #83b09a;
    text-align: center;
    color: white;
}
.scroll{
    display: flex;
    justify-content: space-between;
    margin:100px 40px 140px 40px;
}
.banner{
    background:url(../img/task7.png) no-repeat;
height: 10vw;
    width:21vw;
    opacity:0;
    margin: 2vw;
  background-size: 20vw;
}
.icon1 {height:30px;width:30px;background-position: -35px 0;}
.icon2{height:30px;width:30px;background-position: 0 0;}
.icon3 {height:30px;width:30px;background-position: -71px 0;}
.icon4 {height:30px;width:30px;background-position: -108px 0;}