body {
  min-width: 320px;
  max-width: 760px;
  margin: 0 auto; }

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 0;
  max-width: 760px;
  height: 40px;
  background-color: #5ec0ce;
  font-size: 0.8rem; }
  .logo .logo-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: #53a9b2; }
    .logo .logo-box .master {
      text-align: center;
      line-height: 26.6666666667px;
      width: 56px;
      border-radius: 5px;
      color: #fff; }
    .logo .logo-box .porter {
      text-align: center;
      line-height: 26.6666666667px;
      width: 64px;
      border-radius: 5px;
      color: #5ec0ce;
      background-color: #fff; }
  .logo img {
    margin-right: 2px; }

.list-box {
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid #bebec2;
  margin-top: 40px; }
  .list-box .dropdown-box {
    border: none;
    outline: none;
    width: 26%;
    line-height: 24px;
    margin-left: 20px;
    border-right: 1px solid #bebec2;
    font-size: 0.8rem;
    background-image: url("../img/task6.png");
    background-repeat: no-repeat;
    background-position: 55px 5px;
    color: #a8a8a8;
    -webkit-appearance: none; }
  .list-box .dropdown-box-right {
    text-align: center;
    border: none;
    outline: none;
    width: 26%;
    line-height: 24px;
    margin-left: 20px;
    font-size: 0.8rem;
    background-image: url("../img/task6.png");
    background-repeat: no-repeat;
    background-position: 58px 5px;
    color: #a8a8a8;
    -webkit-appearance: none; }

.in-df-protection_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
  font-size: 0.8rem;
  color: #a8a8a8; }
  .in-df-protection_left img {
    margin-left: 20px; }
  .in-df-protection_left .date {
    margin-left: 10px; }

.in-df-protection_center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  font-size: 0.8rem; }
  .in-df-protection_center .time {
    margin-left: 44px; }
  .in-df-protection_center .time-one {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #ca664e; }

.in-df-protection {
  border-bottom: 1px solid #bebec2;
  padding: 10px 0; }

.fixed-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 999999;
  width: 100%;
  bottom: 0;
  max-width: 760px;
  height: 60px;
  font-size: 0.6rem;
  background-color: #fff; }
  .fixed-bottom .home-page {
    text-align: center;
    color: #5ec0ce; }
  .fixed-bottom .my {
    text-align: center; }
  .fixed-bottom .input {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #68cdd5;
    background-image: url("../img/6.3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%; }

.bug {
  margin-bottom: 60px; }

/*# sourceMappingURL=task12.1.css.map */
